<div class="slider">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="../../assets/slide1.jpg" alt="">
            <div class="caption1 caption2">
                <h4>realme XT</h4>
                <h2>64MP Quad Camera Xpert</h2>
                <p>64MP Quad Camera | In-Display Fingerprint | VOOC Flash Charge 3.0</p>
                <a href="" class="learnMore">Buy Now</a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../assets/slide2.jpg" alt="">
            <div class="caption2">
                <h4>realme XT</h4>
                <h2>64MP Quad Camera Xpert</h2>
                <p>64MP Quad Camera | In-Display Fingerprint | VOOC Flash Charge 3.0</p>
                <a href="" class="learnMore">Learn More</a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../assets/slide3.jpg" alt="">
            <div class="caption3">
                <h4>realme XT</h4>
                <h2>64MP Quad Camera Xpert</h2>
                <a href="" class="learnMore">Learn More</a>
                <p>64MP Quad Camera | In-Display Fingerprint | VOOC Flash Charge 3.0</p>
            </div>
        </ng-template>
        <ng-template carouselSlide><img src="../../assets/slide4.jpg" alt=""></ng-template>
    </owl-carousel-o>
</div>

<section class="content">
    <div class="container">
        <h2>Mobiles</h2>
        <div class="row d-flex justify-content-around">
            <div class="col-md-5">
                <img src="../../assets/3.png" alt="">
                <div class="caption">
                    <h6>realme 5i</h6>
                    <h6>Quad Camera Battery Hero</h6>
                </div>
            </div>
            <div class="col-md-5">
                <img src="../../assets/3.png" alt="">
                <div class="caption">
                    <h6>realme 5i</h6>
                    <h6>Quad Camera Battery Hero</h6>
                </div>
            </div>
            <div class="col-md-5">
                <img src="../../assets/3.png" alt="">
                <div class="caption">
                    <h6>realme 5i</h6>
                    <h6>Quad Camera Battery Hero</h6>
                </div>
            </div>
            <div class="col-md-5">
                <img src="../../assets/3.png" alt="">
                <div class="caption">
                    <h6>realme 5i</h6>
                    <h6>Quad Camera Battery Hero</h6>
                </div>
            </div>
            <div class="col-md-5">
                <img src="../../assets/3.png" alt="">
                <div class="caption">
                    <h6>realme 5i</h6>
                    <h6>Quad Camera Battery Hero</h6>
                </div>
            </div>
            <div class="col-md-5">
                <img src="../../assets/3.png" alt="">
                <div class="caption">
                    <h6>realme 5i</h6>
                    <h6>Quad Camera Battery Hero</h6>
                </div>
            </div>
            <h2 style="margin-top: 50px;">Accessories</h2>
            <div class="col-md-3">
                <div style="padding: 50px 40px; background-color: white;">
                    <img src="../../assets/headphone 2.png" alt="">
                    <h3>realme Buds 2</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding: 50px 40px; background-color: white;">
                    <img src="../../assets/headphone 2.png" alt="">
                    <h3>realme Buds 2</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding: 50px 40px; background-color: white;">
                    <img src="../../assets/headphone 2.png" alt="">
                    <h3>realme Buds 2</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding: 50px 40px; background-color: white;">
                    <img src="../../assets/headphone 2.png" alt="">
                    <h3>realme Buds 2</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="dare d-flex justify-content-center align-items-center">
    <div>
        <h2 class="h1">Dare to Leap</h2>
        <a href="" class="learnMore">Learn More</a>
    </div>
</div>

<div class="icons">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <i class="fas fa-desktop"></i>
                <p>online service</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-desktop"></i>
                <p>online service</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-desktop"></i>
                <p>online service</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-desktop"></i>
                <p>online service</p>
            </div>
        </div>
    </div>
</div>