.bgIcons {
    background-image: url('../../assets/icons.png');
}

* {
    box-sizing: border-box;
}

.navbar {
    background: #131921;
    a {
        cursor: pointer;
    }
}

.nav-logo {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 130px;
    height: 50px;
    overflow: hidden;
    border: 1px solid transparent;
    .span1 {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: -4px -40px;
    }
    .span2 {
        position: absolute;
        top: 10px;
        left: 105px;
        color: white;
    }
    &:hover {
        border: 1px solid white;
    }
}

.location {
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin: -1px -1px;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid white;
    }
    .bgIcons {
        position: absolute;
        width: 32%;
        height: 80%;
        top: 17px;
        background-position: -63px -376px;
    }
    .up {
        position: absolute;
        color: #ccc;
        top: 5px;
        left: 29px;
        font-size: 13px;
    }
    .down {
        position: absolute;
        color: white;
        top: 18px;
        left: 29px;
    }
}

.search {
    margin-top: 5px;
    input {
        width: 650px;
        border-radius: 0px;
    }
    .nav-link {
        background: #f3f3f3;
        color: black;
        border-radius: 3px 0px 0px 3px;
    }
    .btn {
        position: relative;
        background: #febd69;
        width: 40px;
        margin-left: 0px;
        border-radius: 0px 3px 3px 0px;
        .bgIcons {
            position: absolute;
            background-position: 0px -281px;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }
    }
}

.country {
    position: relative;
    width: 70px;
    height: 50px;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid white;
    }
    .egy {
        position: absolute;
        top: 20px;
        left: 25px;
        width: 25px;
        height: 20px;
        background-size: cover;
        background-position: center;
        background-image: url('../../assets/egy.png');
    }
    .arrow {
        position: absolute;
        top: 30px;
        left: 55px;
        border-style: solid;
        border-width: 4px;
        border-color: transparent;
        border-top: 4px solid #606060;
        border-bottom-width: 0;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
    }
}

.hello {
    position: relative;
    color: white;
    height: 100%;
    width: 130px;
    margin-left: 10px;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid white;
    }
    .up {
        font-size: 14px;
    }
    .arrow {
        position: absolute;
        top: 35px;
        left: 115px;
        border-style: solid;
        border-width: 4px;
        border-color: transparent;
        border-top: 4px solid #606060;
        border-bottom-width: 0;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
    }
}

.orders {
    border: 1px solid transparent;
    margin-left: 10px;
    width: 70px;
    height: 50px;
    padding-top: 22px;
    padding-left: 10px;
    a {
        text-decoration: none;
    }
    &:hover {
        border: 1px solid white;
    }
    span {
        bottom: 0px;
        color: white;
    }
}

.cart {
    position: relative;
    height: 50px;
    width: 90px;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid white;
    }
    .bgIcons {
        position: absolute;
        background-position: 0px -324px;
        top: 0px;
        left: 0px;
        width: 53%;
        height: 100%;
    }
    .zero {
        position: absolute;
        font-size: 20px;
        color: #f08804;
        left: 27px;
        top: 4px;
    }
    .text {
        position: absolute;
        color: white;
        top: 20px;
        left: 50px;
    }
}

.navbar2 {
    background-color: #232f3e;
    height: 40px;
    color: white;
}

.all {
    float: left;
    position: relative;
    width: 55px;
    height: 35px;
    cursor: pointer;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid white;
    }
    span {
        position: absolute;
        left: 25px;
        top: 5px;
    }
    .bgIcons {
        position: absolute;
        background-position: -172px -245px;
        top: 0px;
        left: 5px;
        width: 53%;
        height: 100%;
    }
}

.cats {
    cursor: pointer;
    float: left;
    height: 35px;
    border: 1px solid transparent;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    &:hover {
        border: 1px solid white;
    }
}

.sales {
    margin-left: 70px;
}