<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-logo">
                        <span class="bgIcons span1 "></span>
                        <span class="span2">.eg</span>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="location">
                        <span class="bgIcons "></span>
                        <span class="up">Deliver to</span>
                        <span class="down">Egypt</span>
                    </div>
                </li>
                <li>
                    <form class="d-flex search">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                All
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <input class="form-control" type="search" aria-label="Search">
                        <button class="btn" type="submit"><span class="bgIcons"></span></button>
                    </form>
                </li>
                <li>
                    <div class="country">
                        <a href="">
                            <span class="egy"></span>
                            <span class="arrow"></span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="hello">
                        <span class="up">hello, <span>sign in</span> </span><br>
                        <span>Account & Lists</span>
                        <span class="arrow"></span>
                    </div>
                </li>
                <li>
                    <div class="orders">
                        <a href=""><span>Orders</span></a>
                    </div>
                </li>
                <li>
                    <div class="cart">
                        <span class="bgIcons"></span>
                        <span class="zero">0</span>
                        <span class="text">Cart</span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div> -->
    </div>
</nav>


<nav class="navbar navbar2 navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <div class="all">
                        <span class="bgIcons"></span>
                        <span>All</span>
                    </div>
                </li>
                <li *ngFor="let cat of cats">
                    <div class="cats">
                        <span>{{cat}}</span>
                    </div>
                </li>
                <li>
                    <div class="sales">
                        <img src="../../assets/XCM_Manual_1372242_4282293_Egypt_WFS21_GW_DesktopSWM_5days_en_400x39_2X._CB654172238_.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>