<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-md-around w-100">
                <li class="nav-item">
                    <a class="navbar-brand" href="#"><img src="../../assets/logo.svg" alt=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hYellow" href="#">realme 5i</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hYellow" href="#" (mouseover)="mouseOverPhones()">phones</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link hYellow " href="#" (mouseover)="mouseOverAccessories()">Accessories</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link hYellow " href="# ">Brand</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link hYellow " href="# ">Support</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="# ">
                        <i class="far fa-user "></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="phones">
    <div class="container  w-100 mt-5" (mouseleave)="mouseLeavePhones()">
        <div class="row d-flex justify-content-md-between ">
            <div class="col-md-1">
                <img src="../../assets/1.png " class="w-100 ">
                <h6>realme 5i</h6>
            </div>
            <div class="col-md-1">
                <img src="../../assets/2.png " class="w-100 ">
                <h6>realme XT</h6>
            </div>
            <div class="col-md-1">
                <img src="../../assets/3.png " class="w-100 ">
                <h6>realme 5 Pro</h6>
            </div>
            <div class="col-md-1">
                <img src="../../assets/4.png " class="w-100 ">
                <h6>realme 5</h6>
            </div>
            <div class="col-md-1">
                <img src="../../assets/5.png " class="w-100 ">
                <h6>realme X</h6>
            </div>
            <div class="col-md-1">
                <img src="../../assets/6.png " class="w-100 ">
                <h6>realme C2</h6>
            </div>
        </div>
    </div>
</div>
<div class="accessories">
    <div class="container  w-100 mt-5" (mouseleave)="mouseLeaveAccessories()">
        <div class="row d-flex justify-content-md-between ">
            <div class="col-md-1">
                <img src="../../assets/headphone 2.png " class="w-100 ">
                <h6>realme 5i</h6>
            </div>
            <div class="col-md-1">
                <img src="../../assets/case.png " class="w-100 ">
                <h6>realme XT</h6>
            </div>
            <div class="col-md-1">
                <img src="../../assets/headphone 1.png " class="w-100 ">
                <h6>realme 5 Pro</h6>
            </div>
            <div class="col-md-1">
                <img src="../../assets/bag.png " class="w-100 ">
                <h6>realme 5 Pro</h6>
            </div>
        </div>
    </div>
</div>