.hYellow:hover {
    color: #ffc915!important;
    transition: color .5s;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.952);
}

.phones,
.accessories {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 20px;
    z-index: 10;
}

a {
    color: black!important;
}